<%= form_for employee do |form| %>

  <div class="field">
    <%= form.label "Фамилия" %>
    <%= form.text_field :surname, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Имя" %>
    <%= form.text_field :name, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Отчество" %>
    <%= form.text_field :middleName, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Дата рождения" %>
    <%= form.date_select :birthDate %>
  </div>

  <div class="field">
    <%= form.label "Дата трудоустройства" %>
    <%= form.date_select :employmentDate %>
  </div>

  <div class="field">
    <%= form.label "Должность" %>
    <%= form.text_field :position, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Образование" %>
    <%= form.text_field :education, class: "entry" %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class: "btn btn-warning"%>
  </div>
<% end %>
