<%= form_for employee do |form| %>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :middleName %>
    <%= form.text_field :middleName %>
  </div>

  <div class="field">
    <%= form.label :birthDate %>
    <%= form.date_select :birthDate %>
  </div>

  <div class="field">
    <%= form.label :employmentDate %>
    <%= form.date_select :employmentDate %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :education %>
    <%= form.text_field :education %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
