<%= form_with(model: library, local: true) do |form| %>
  <% if library.errors.any? %>
    <div id="error_explanation">
      <h2>Возникли ошибки! Список условий для успешного сохранения:</h2>
      <ul>
        <li>Номер библиотеки не может быть пустым;</li>
        <li>Название библиотеки не может быть пустым (минимум 5 символов);</li>
        <li>Адрес библиотеки не может быть пустым (минимум 5 символов).</li>
      </ul>
    </div>
      <br>
  <% end %>

  <div class="field">
    <%= form.label "Номер:" %>
    <%= form.number_field :number, class: "entry", min: 0 %>
  </div>

  <div class="field">
    <%= form.label "Название:" %>
    <%= form.text_field :name, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Адрес:" %>
    <%= form.text_field :address, class: "entry" %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class: "btn btn-warning"%>
  </div>
<% end %>
