<%= form_with(model: library, local: true) do |form| %>
  <% if library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Номер:" %>
    <%= form.number_field :number, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Название:" %>
    <%= form.text_field :name, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Адрес:" %>
    <%= form.text_field :address, class: "entry" %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class: "btn btn-warning"%>
  </div>
<% end %>
