<header class="header">

<h1><%= @library.name %></h1>

<p>
  <strong>Address:</strong>
  <%= @library.address %>
</p>
<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Сотрудники</a></li>
    <li><a href="#about">Книги</a></li>
    <li><a href="#contact">Абоненты</a></li>
  </ul>
</div>

</header>

<h1>Сотрудники</h1>
<p>Добавить</p>

<%= form_with(model: [ @library, @library.employees.build ], local: true) do |form| %>
  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :middleName %>
    <%= form.text_field :middleName %>
  </div>

  <div class="field">
    <%= form.label :birthDate %>
    <%= form.date_select :birthDate, {order: [:day, :month, :year], start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true}%>
  </div>

  <div class="field">
    <%= form.label :employmentDate %>
    <%= form.date_select :employmentDate, {order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year - 100}, {required: true}%>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :education %>
    <%= form.text_field :education %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<%end%>
<div class="container-fluid">
<table  class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Дата принятия на работу</th>
      <th>Должность</th>
      <th>Образование</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @library.employees.each do |employee| %>
      <% if employee.id %>
        <tr>
          <td><%= employee.id %></td>
          <td><%= employee.surname %></td>
          <td><%= employee.name %></td>
          <td><%= employee.middleName %></td>
          <td><%= employee.birthDate %></td>
          <td><%= employee.employmentDate %></td>
          <td><%= employee.position %></td>
          <td><%= employee.education %></td>
          <td><%= link_to 'Редактировать', edit_employee_path(employee) %> </td>
          <td><%= link_to 'Удалить', employee, method: :delete, data: { confirm: 'Вы уверены?' }%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<h1>Книги</h1>

<p>Добавить</p>
<%= form_with(model: [ @library, @library.books.build ], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :cipher %>
    <%= form.text_field :cipher %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>

  <div class="field">
    <%= form.label :publishingHouse %>
    <%= form.text_field :publishingHouse %>
  </div>

  <div class="field">
    <%= form.label :publishingYear %>
    <%= form.date_select :publishingYear, {order: [:year], start_year: Date.today.year, end_year: Date.today.year - 500}, {required: true}%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :receiptDate %>
    <%= form.date_select :receiptDate, {order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year - 100}, {required: true}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<%end%>

<div class="container-fluid section-book">
  <% @library.books.each do |book| %>
    <% if book.id %>
    <div class="book">
      <div class="cover">
        <%= image_tag(book.cover.url, class: "img-rounded") if book.cover.exists?%>
      </div>
      <div>
        <p class="author"><%= book.author %></p>
        <p class="name"><%= book.name %></p>
        <p>Шифр: <strong><%= book.cipher %></strong></p>
        <p>Издательство: 	<strong>&laquo;<%= book.publishingHouse %>&raquo;</strong></p>
        <p>Год издания: <strong><%= book.publishingYear.year %></strong></p>
        <p>Цена: <strong><%= book.price %></strong></p>
        <p>Дата поступления: <strong><%= book.receiptDate %></strong></p>
        <button type="button" class="btn btn-warning"><%= link_to 'Выдать', book %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Редактировать', edit_book_path(book) %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Удалить', book, method: :delete, data: { confirm: 'Вы уверены?' }%></button>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


<h1>Абоненты</h1>
<p>Добавить</p>

<%= form_with(model: [ @library, @library.subscribers.build ], local: true) do |form| %>
  <div class="field">
    <%= form.label :ticketnumber %>
    <%= form.number_field :ticketnumber %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :middleName %>
    <%= form.text_field :middleName %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<%end%>

<div class="container-fluid">
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Номер билета</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Адрес</th>
      <th>Телефон</th>
      <th colspan="6"></th>
    </tr>
  </thead>

<tbody>
  <% @library.subscribers.each do |subscriber| %>
    <% if subscriber.id %>
      <tr>
        <td><%= subscriber.ticketnumber %></td>
        <td><%= subscriber.surname %></td>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.middleName %></td>
        <td><%= subscriber.address %></td>
        <td><%= subscriber.phone %></td>
        <td><%= link_to 'Просмотреть историю', subscriber %> </td>
        <td><%= link_to 'Редактировать', edit_subscriber_path(subscriber) %> </td>
        <td><%= link_to 'Удалить', subscriber, method: :delete, data: { confirm: 'Вы уверены?' }%></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<div>
<%= link_to 'Back', libraries_path %>
