<%= form_for subscriber do |form| %>
<% if subscriber.errors.any? %>
  <div id="error_explanation">
    <h2>Возникли ошибки! Список условий для успешного сохранения:</h2>
    <ul>
      <li>Номер билета не может быть пустым;</li>
      <li>Фамилия абонента не может быть пустой;</li>
      <li>Имя абонента не может быть пустым;</li>
      <li>Адрес абонента не может быть пустым.</li>
    </ul>
  </div>
    <br>
<% end %>

  <div class="field">
    <%= form.label "Номер билета:" %>
    <%= form.number_field :ticketnumber, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Фамилия" %>
    <%= form.text_field :surname, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Имя:" %>
    <%= form.text_field :name, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Отчество:" %>
    <%= form.text_field :middleName, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Адрес:" %>
    <%= form.text_field :address, class: "entry" %>
  </div>

  <div class="field">
    <%= form.label "Телефон:" %>
    <%= form.text_field :phone, class: "entry" %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class: "btn btn-warning"%>
  </div>
<% end %>
